@font-face {
    font-family: "Boots And Spurs";
    src: url("../Fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
 .logo {
    font-family: "Boots And Spurs";
}
.Product-list h2 {

    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

header, 
footer {
background-color: #202020;
color: #fff;
}
 
header a, footer {
    color: #FFF;
    }

.cta {

    background-color: #bb0000;
    color:#FFF;
    font-size: 1.5em;
}
.reviews {

    background-color: #e8e8e8;
}
 .featured--products {
    background-color: #fbfbfb;
 }
.cta-sale {
    background-color: #127300;
}
footer {
text-align: center;
}

.header {
    background-image: url(../images/home-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

img {
    max-width: 600px;
    border-radius: 50px 50px 50px 50px;
}
.reviews img {
    max-width: 350px;
    border-radius: 50%;

}