@font-face {
    font-family: "Boots And Spurs";
    src: url("../Fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
 .logo {
    font-family: "Boots And Spurs";
}
.Product-list h2 {

    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
    padding: 0px;

}

nav li{
    display: inline-block;

}

header, 
footer {
background-color: #202020;
color: #fff;
}
 
header a, footer {
    color: #FFF;
    }
/*Links*/
a {
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    display: inline-block;
}
.cta View Guitars {
    width: 25px;

}

.active {
    text-decoration: underline;
}

.cta {

    background-color: #bb0000;
    color:#FFF;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
}
.cta-small{
    padding: 8px 30px;
    font-size: 0.8em;
}
.reviews {

    background-color: #e8e8e8;
}
 .featured__products {
    background-color: #fbfbfb;
 }
.cta-sale {
    background-color: #127300;
}
footer {
text-align: center;
}

/*Home page*/

.welcome {
    background-image: url(../images/home-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    background-position-x: right;
    background-position-y: bottom;
    position: relative;
}
.welcome__content {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 100px;
}

.selling-points__images {
    max-width: 600px;
    border-radius: 100px;
}
.selling-points {
    display: flex;
    justify-content: space-evenly;
    margin: 80px;
}
.review__images {
    max-width: 50px;
    border-radius: 50%;
}
.reviews h2,
p,
div_one,
div_two {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.reviews img {
    display: flex;
    justify-content: space-around;
}
header {
    display: flex;
}

/*Adironrack-red*/


.adironrack_red_one {
    min-width: 150px;
}

/*Contact Page*/

input, select, textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

